<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="card-title">My todo list</h4>
          <span *ngIf="loading$ | async">Loading...</span>
        </div>
        <div class="col">
          <button type="button" class="btn btn-dark btn-add" (click)="goToAdd()">Add a Todo</button>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Completed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todo$ | async" (click)="onSelected(todo)">
          <td>{{todo.id}}</td>
          <td>{{todo.title}}</td>
          <td *ngIf="todo.completed" class="check"><i class="fas fa-check"></i></td>
          <td *ngIf="!todo.completed" class="check"><i class="fas fa-times"></i></td>
          <td><button type="button" class="btn btn-link btn-delete" (click)="onDelete(todo)"><i
                class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>